
@font-face {
  font-family: typewriter2;
  src: url(veterantypewriter.ttf);
}
@font-face {
  font-family: mayan;
  src: url(Mayan.TTF);
}
@font-face {
  font-family: nativedancer;
  src: url(NativeDancer.woff);
}
